<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные пользователя</title>
    <script type="module" src="/front/pages/profile/update_user/update_user_info.js" defer></script>
    <link rel="stylesheet" href="/front/pages/profile/update_user/update_user_info.css">
</head>
{% extends 'base/base.html' %}
{% block content %}
    <body>
    <div class="container">
        <form id="user-update">
            <label for="nickname">Псевдоним</label>
            <input id="nickname" type="text">

            <label for="email">Почта</label>
            <input id="email" type="text">
            <input type="button" value="Изменить" onclick="update_user()" class="submit-button">
        </form>
    </div>
    </body>
{% extends 'base/base.html' %}
{% block content %}
</html>