<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Авторизация {% endblock %}</title>
    <link rel="stylesheet" href="/front/pages/auth/auth.css">
    <script type="module" src="/front/pages/auth/login/login.js" defer></script>
</head>
<body>
    {% extends 'base/base.html' %}
    {% block content %}
    <div class="container">
        <h1>Вход в систему</h1>
        <form id="loginForm">
            <label for="login">Логин</label>
            <input id="login" type="text" required>

            <label for="password">Пароль</label>
            <input id="password" type="password" required>

            <input type="button" value="Отправить" onclick="auth()" class="submit-button">
        </form>
    </div>
    {% endblock %}
</body>
</html>